node_modules/
/dist/
.DS_Store
public_extra/

# Environment variables
.env
.env.local
.env.production

public
LICENSE
.vscode
COMPLETE_GUIDE.md
# CLAUDE.md
DEPLOYMENT.md
ULTIMATE_GUIDE.md
.cursor
dist.zip